{% extends "layout.html" %}

{% block main %}
<div class="px-4 lg:px-8">
    <header>
        <h1 class="my-4 text-3xl tracking-wide font-light"> Todo </h1>
    </header>

    <header>
        <h2 class="my-4 text-xl"> Here are some of the tasks we need to take care of in regards to our project. </h2>
    </header>

    <section class="block md:w-auto lg:w-2/3 shadow-md rounded-2xl bg-white overflow-x-auto whitespace-nowrap">
        <div class="p-4">
            <div class="flex-col">
                <div class="flex items-center font-semibold">
                    <div class="px-3 py-3 min-w-full md:min-w-0 md:w-3/6">Task</div>
                    <div class="px-3 py-3 min-w-1/2 md:min-w-0 md:w-1/6">Posted on</div>
                    <div class="px-3 py-3 min-w-1/2 md:min-w-0 md:w-1/6">By</div>
                    <div class="px-3 py-3 min-w-1/4 md:min-w-0 md:w-1/6">Action</div>
                </div>
                {% for home_item in all_items %}
                <div class="flex items-center">
                    <div class="px-3 py-3 min-w-full md:min-w-0 md:w-3/6 whitespace-normal">{{ home_item.content }}</div>
                    <div class="px-3 py-3 min-w-1/2 md:min-w-0 md:w-1/6">{{ home_item.date_created }}</div>
                    <div class="px-3 py-3 min-w-1/2 md:min-w-0 md:w-1/6">{{ home_item.author }}</div>
                    <div class="px-3 py-3 min-w-1/4 md:min-w-0 md:w-1/6">
                        <form action="/deleteHome/{{home_item.id}}/" method="post">
                            {% csrf_token %}
                            <button class="text-blue-500 border-solid border border-blue-500 hover:text-blue-700 hover:border-blue-700 w-16 py-2 px-2 rounded" type="submit">Done</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
                <form class="flex items-center" action="/addHome/" method="post">{% csrf_token %}
                    <div class="px-3 py-2 min-w-full md:min-w-0 md:w-3/6">
                        <input class="w-full shadow appearance-none border border-gray-300 rounded-md py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-blue-500" type="text" name="content" placeholder="Task to do"/>
                    </div>
                    <div class="px-3 py-2 min-w-1/2 md:min-w-0 md:w-1/6">
                        <input class="w-full shadow appearance-none border border-gray-300 rounded-md py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-blue-500" type="text" name="date_created" placeholder="YYYY-MM-DD"/>
                    </div>
                    <div class="px-3 py-2 min-w-1/2 md:min-w-0 md:w-1/6">
                        <input class="w-full shadow appearance-none border border-gray-300 rounded-md py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-blue-500" type="text" name="author" placeholder="Taken care by"/>
                    </div>
                    <div class="px-3 py-2 min-w-1/4 md:min-w-0 md:w-1/6">
                        <button class="w-full sm:w-16 bg-blue-500 hover:bg-blue-700 text-white py-2 px-2 rounded" type="submit">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section class="my-6">
        <h3 class="text-lg">
            Check out some of the 
                <a class="inline-block align-baseline text-blue-500 hover:text-blue-700 hover:underline" href="/done/">tasks</a>
            we've finished!
        </h3>
    </section>

    <section class="my-6">
        <h3 class="text-lg">
            Here's some info about the
            <a class="inline-block align-baseline text-blue-500 hover:text-blue-700 hover:underline" href="/about/">team</a>
        </h3>
    </section>
</div>
{% endblock %}
